/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.form {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.form input {
  width: 100%;
  max-width: 350px;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
}

.form button {
  background-color: rgb(255, 0, 8);
  width: 100%;
  max-width: 200px;
  height: 45px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: brown;
}

.form button:active {
  background-color: rgb(255, 0, 8);
}

.imgbox {
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  transition: max-height 1s;
  /* overflow: hidden; */
  opacity: 0;
  max-height: 0;
  margin-top: 20px;
}

.imgbox.show-img {
  opacity: 1;
  max-height: 300px;
}

.imgbox img {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.error {
  animation: shake 0.1s linear 2;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

/* Responsive Styles */
@media (max-width: 600px) {
  .form {
    padding: 10px;
  }

  .form label {
    font-size: 20px;
  }

  .form input {
    width: 100%;
    max-width: none;
    height: 35px;
    font-size: 14px;
  }

  .form button {
    width: 100%;
    max-width: none;
    height: 40px;
    font-size: 14px;
  }

  .imgbox {
    max-width: 150px;
  }

  .imgbox img {
    padding: 5px;
  }
}
